<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="sz.tianhe.etc_wallet">

    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 用于写入缓存数据到扩展存储卡 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于申请调用A-GPS模块 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 用于申请获取蓝牙信息进行室内定位 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.activity.UserInfoActivity" />
        <activity android:name=".guide.view.GuideActivity" />
        <activity android:name=".guide.view.LoginActivity" />
        <activity android:name=".guide.view.CreateWalletActivity" />
        <activity android:name=".guide.view.CreateMemorizingActivity" />
        <activity android:name=".home.activity.ManageActivity" />
        <activity android:name=".home.activity.MsgActivity" />
        <activity android:name=".guide.view.FirstChooseActivity" />
        <activity android:name=".home.activity.PrivacyActivity" />
        <activity android:name=".guide.view.ConfirmMemoriActivity" />
        <activity android:name=".guide.view.PhoneCodeActivity" />
        <activity android:name=".guide.view.SetLoginPassActivity" />
        <activity android:name=".guide.view.ConfirmPassActivity" />
        <activity android:name=".index.activity.WalletInfoActivity" />
        <activity android:name=".index.activity.ReciveActivity" />
        <activity android:name=".index.activity.ScanActivity" />
        <activity android:name=".index.activity.TransferActivity" />
        <activity android:name=".home.activity.MeInfoActivity" />
        <activity android:name=".home.activity.HomeWalletInfoActivity"></activity>
    </application>

</manifest>